.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-mid {
    border-radius: 0px;
    text-decoration: none;
    padding: 14px 21px;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-big {
    border-radius: 0px;
    text-decoration: none;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-dark,
input[type="submit"]{
    border:solid 2px #1f1f1f;
    background: transparent;
    color: #1f1f1f;
}
.btn-dark:hover,
input[type="submit"]:hover,
.btn-dark.active{
    border:solid 2px #1f1f1f;
    background: #1f1f1f;
    color: #fff;
}

.btn-color{
    background: transparent;
}
.btn-color:hover{
    color: #fff;
}