asgiref==3.12.1
Django==5.2.17
django-cors-headers==4.9.0
django-environ==0.14.0
django-filter==26.1
djangorestframework==3.18.0
gunicorn==26.1.0
psycopg2==2.9.12
sqlparse==0.6.0
typing_extensions==4.16.0
